################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

﻿# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Derleme çıktıları
bin/
obj/
debug/
release/

# Paket bağımlılıkları
packages/
